 #nav-logo{
 	 	float:left;
    display: none;
    margin-top: 0px;
 }

 .nav-logo {
  float: left;
  margin-top: -18px;
  margin-right: 8px;
  display: inherit;
}

#nav-logo-a{
 margin-top: -10px;
}


 .navbar {
    position: relative;
    margin-bottom: 0px;
    border: 1px solid transparent;
    height: 60px;
    min-height: 60px;
  } 

 #nav-wrapper {
 	width: 100%;
 	text-align: center;
 }

#whole-navbar-wrapper {
  border-radius: 0;
}

 .navbar-nav {
    margin: 0;
    display: inline-block;
 }

#custom-navbar-ul {
    margin-top: 0 !important;
}
.navbar-nav > li {
    float: left;
    margin-top: 3px;
    margin-right: 40px;
}
.navbar-nav > li:last-child {
    margin-right: 0;
}


.nav-right-column {
  float: right;
  float: right;
  position: relative;
  top: -17px; 
 }
 .navbar-toggle {
	  position: absolute;
    top: 29px;
	  right: 22px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
  	border-color: #ddd;
  	margin: 0;
  	-webkit-transform: translateY(-50%);
  	transform: translateY(-50%);
  }





